<nav class="navbar">
  <div class="navbar-left">
    <a href="#" class="logo1">
      <span class="text-black">Revolusi</span>
      <span class="text-yellow">Literasi</span>
    </a>
    <ul class="nav-links">
      <li>
        <a href="/index.html">Home</a>
      </li>
      <li>
        <a href="/catalog.html">Catalog</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <div class="search-box">
      <input type="text" placeholder="Cari disini..." />
      <button type="submit">Search</button>
    </div>
    <div class="action-links">
      <a href="#" class="btn-login"> Login </a>
      <a href="/cart.html" class="btn-order">
        <i class="fa-solid fa-cart-arrow-down"></i>
      </a>
    </div>
  </div>
</nav>
;
